<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79853440806-03qtl3fg7g0bb1lu9dc07r8tcell1vv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79853440806-03qtl3fg7g0bb1lu9dc07r8tcell1vv8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79853440806-nt73o0ftac37ebecggbuki5fkou0m4d4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoXxj7QzEeaIlVmHvyBuGKlbgF3ZvmP5I</string>
	<key>GCM_SENDER_ID</key>
	<string>79853440806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMessenger</string>
	<key>PROJECT_ID</key>
	<string>chat-messenger-4464f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-messenger-4464f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79853440806:ios:179f750da69dc63e18fbe7</string>
</dict>
</plist>